@import url('https://fonts.googleapis.com/css?family=Raleway:500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap');
/* body {
  background-image: linear-gradient(to top right, rgb(35, 147, 151), #10ac25a1);
  height: 100vh;  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */
body{
  background: lightblue url("./bg.jpg") no-repeat fixed center;
}
.container {
  margin-top : 60px;
  padding : 35px;
  /* background-color : white;    */
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
form{
  display: flex;
  flex-direction: column;
}
#formcont{
  width: 600px !important;
  margin: auto;
  justify-content: center;
  align-items: center;
  
}
.form-container {
  text-align: center;
  background-color : rgba(0, 0, 0, 0.705); 
  border-radius: 45px;
}

.weather-container {
  text-align: center;
}

.title-container {
   padding-top: 30px;
   font-family: 'Raleway', sans-serif;
   letter-spacing: 2px;
   color: white;
   font-weight: 500;
   font-size: 2rem;
}
.title-container a{
  color: white;
}


input {
  margin-top: 18px;
}
.city-container {
  margin-top : 80px;
}

input[type="text"] {
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  width: 90%;
  height: 25px;
  border-bottom: solid 1px white;
  padding-bottom: 4px;
  color: rgb(224, 224, 224) !important;
  font-weight: 300;
  font-weight : bold;
  letter-spacing: 1px;
  text-align: center;
  margin: 50px auto;
  font-size: 1.3rem;
 
} 


button {
  margin-bottom: 100px;
  padding: 8px 20px;
  border-radius: 16px;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  font-weight: bolder;
  width: 200px;
  margin: 50px auto;
}
button:hover {
  background-color: orangered;
  color : black;
}

.weadata{
  background:rgba(0, 81, 255, 0.856);
  width: 600px !important;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
}

.weather_key {
  text-transform : uppercase;
  color : #4aa6ad;
  margin-bottom: 0px;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
}
.location {
  font-size: 22px;
  margin-top: 22px;
  padding-top: 10px;
  color: #fff;
}

.temperature {
  font-size: 78px; 
  color: #fff;
}
.min_max_temperature {
  color: #fff;
  font-size: 22px;
}
.humidity {
  margin-top: 28px;
  font-size: 18px;
  font-family: serif;
  color: #fff;

}
.wind_speed {
  font-size: 18px;
  font-family: serif;
  color: #fff;
}
.conditions {
  padding-top: 38px;
  font-size: 32px;
  font-style: italic;
  padding-bottom: 20px;
  color: #fff;
}
.error {
  margin-top: 80px;
  font-family: 'Playfair Display', serif;
  font-size: 38px;
  color: red;
  color: #fff;
}
@media screen and (max-width: 700px) {
  #formcont{
    width: 100% !important;
  }
  .weadata{
    width: 100% !important;
  }
}